<!DOCTYPE html>
<html>
<head>
  <title>Redemption: Unleashed</title>
  <script src="{{ static_url('js/preload.js') }}"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://littlegustv.github.io/games/libs/gamepads.js"></script>
  <script src="{{ static_url('js/shortcuts.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="{{ static_url('css/client.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="left">
  <div class="output scrollable"><ul></ul></div>
  <div class="footer">
    <div class="player-gui">
      <div class="hpcontainer">
        <div class="hpbar">
          <div class="hpinterior"><span class="hp"></span></div>
        </div>
      </div>
      <div class="charges"><ul><li></li><li></li><li></li></ul></div>
    </div>
    <div class="send">
      <input type="text" class="data" size="100" placeholder="Enter a command" />
      <input type="button" class="sendtext" style="display: none;" value="send text"/>
    </div>
  </div>
  </div>
<div class="center">
  <div class="spacer"></div>
  <div class="affects"><ul></ul></div>
</div>
<div class="right">
  <div class="room">
    <div class="room-info scrollable">
      <h1 class="room-name"></h1>
      <p class="room-desc"></p>
      <ul></ul>
    </div>
  </div>
  <div class="info">
    <div class="menus">
      <div class="menu who-menu active"><span class="menu-hotkey">F1</span></div>
      <div class="menu inventory-menu"><span class="menu-hotkey">F2</span></div>
      <div class="menu equipment-menu"><span class="menu-hotkey">F3</span></div>
      <div class="menu comm-menu"><span class="menu-hotkey">F4</span></div>
      <div class="menu craft-menu"><span class="craft-hotkey">F5</span></div>
      <div class="menu commands-menu"><span class="commands-hotkey">F6</span></div>
      <div class="menu score-menu"><span class="score-hotkey">F7</span></div>
    </div>
    <div class="info-panels scrollable">
      <div class="who active"><h1>Who</h1><ul></ul></div>
      <div class="inventory"><h1>Inventory</h1><ul></ul></div>
      <div class="equipment"><h1>Equipment</h1><ul></ul></div>
      <div class="comm"><h1>Communications</h1><ul></ul></div>
      <div class="commands"><h1>Commands</h1><ul></ul></div>
      <div class="score"><h1>Character Sheet</h1><ul></ul></div>
      <div class="craft"><h1>Crafting</h1><ul></ul></div>
    </div>
  </div>
</div>

  <!-- Set variables for included JS scripts -->
  <script>
      var player_id = '{{ player_id }}';
  </script>
  <script src="{{ static_url('js/client.js') }}"></script>
</body>
</html>
