<!DOCTYPE html>
<html>
<head>
  <title>WebSockets Client</title>  
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://littlegustv.github.io/games/libs/gamepads.js"></script>
  <script src="{{ static_url('js/shortcuts.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link href="{{ static_url('css/client.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="header">
  <div class="third">
  </div>
  <div class="player-info third">
    <div class="player-text">
      <h1 class="player-name"></h1>
      <p class="player-combo"></p>
    </div>
    <div class="player-gui">
      <div class="hpcontainer">
        <div class="hpbar"><div class="hpinterior">
        <span class="hp"></span></div></div>
      </div>
      <div class="charges"><ul><li></li><li></li><li></li></ul></div>
    </div>
  </div>
  <div class="third">
    <div class="affects"><ul></ul></div>
  </div>
</div>
<div class="content">
  <div class="third">
    <div class="content-panel room">
      <h1 class="room-name"></h1>
      <p class="room-desc"></p>
      <ul></ul>
    </div>
  </div>
  <div class="third">
    <div class="content-panel output">
      <ul></ul>
    </div>
  </div>
  <div class="third">
    <div class="content-panel info">
      <div class="inventory active"><h1>Inventory</h1><ul></ul></div>
      <div class="equipment"><h1>Equipment</h1><ul></ul></div>
      <div class="who"><h1>Who</h1><ul></ul></div>
      <div class="comm"><h1>Communications</h1><ul></ul></div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="send">
    <input type="text" class="data" size="100" placeholder="Enter a command" />
    <input type="button" class="sendtext" style="display: none;" value="send text"/>
  </div>
  <div class="menus">
    <div class="inventory-menu active"><span>F1</span></div>
    <div class="equipment-menu"><span>F2</span></div>
    <div class="comm-menu"><span>F3</span></div>
    <div class="who-menu"><span>F4</span></div>
  </div>
</div>

  <!-- Set variables for included JS scripts -->
  <script>
      var player_id = '{{ player_id }}';
  </script>
  <script src="{{ static_url('js/client.js') }}"></script>
</body>
</html>