@font-face {
	font-family: HeadingFont;
	src: url('../media/fonts/Plane Crash.ttf');
}

body {
	background-image: url('../media/sunset.png');
	background-size: cover;
	background-position: top;
	font-family: Roboto, sans-serif;
}

h1 {
	font-family: HeadingFont, serif;
	text-transform: lowercase;
}

.navbar {
	margin-bottom: 0;
}

.single-character {
	padding: 10px;
}